/*---------------------------- Index Page ----------------------------*/

body {
    background-color: #000000;
}

/*--- Vertical alignment with help from Stack Overflow (Link in the README Credits) ---*/

.mid-buttons {
    text-align: left;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.row {
    width:100%;
}

.btn-instructions {
    background-color: #000000;
    color: #ffff00;
    border: #ffff00 solid 2px;
    border-radius: 30px;
    font-size: 25px;
}

.btn-instructions:hover {
    background-color: #ffff00;
    color: #000000;
    min-width: 110px;
    
}

.btn-play-game {
    background-color: #000000;
    color: #20b136;
    border: #20b136 solid 2px;
    border-radius: 30px;
    font-size: 25px;
}

.btn-play-game:hover {
    background-color: #20b136;
    color: #000000;
    min-width: 110px;
}

/*--- Modal Pop up customization ---*/

.modal-container-instructions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container-instructions.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-ins {
    background-color: #fffc9c;
    width: 600px;
    max-width: 100%;
    padding: 25px 40px;
    border-radius: 30px;
}

.modal-ins h1 {
    margin: 0;
}

.modal-ins p {
    font-size: 20px;
    text-align: left;
}

.space-indentation {
    margin-left: 40px;
}

.close-button {
    color: #000000;
    border: #000000 solid 2px;
    border-radius: 25px;
    background-color: #fffc9c;
    padding: 10px 25px;
    min-width: 200px;
    font-size: 20px;
}

.close-button {
    color: #000000;
    border: #000000 solid 2px;
    border-radius: 25px;
    background-color: #fffc9c;
    padding: 10px 25px;
}

.close-button:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}